.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

/* neumorphic.css */

/* ComboBox popup */
.combo-box .list-view {
    -fx-background-color: #e0e5ec;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #bdc7d1;
}

/* ComboBox items */
.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #4d5156;
}

/* ComboBox arrow button */
.combo-box .arrow-button {
    -fx-background-color: #b0b8c1;
    -fx-background-insets: 0;
    -fx-padding: 2px 6px;
    -fx-shape: "M 0 0 L 8 4 L 0 8 Z";
}

/* ComboBox arrow button hovered */
.combo-box .arrow-button:hover {
    -fx-background-color: #95a1ac;
}

/* ComboBox arrow button pressed */
.combo-box .arrow-button:pressed {
    -fx-background-color: #7f8b94;
}
